<div class="container-fluid bg-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>ul. "Podvis" 27А, 9010 Levski, Varna</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Mon - Fri: 09:00 AM - 18:00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small> 089 739 0311</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href="https://www.facebook.com/%D0%9A%D1%8A%D0%BB%D0%B2%D0%B0%D1%87%D0%B5%D0%B2-%D1%84%D0%BE%D0%BB%D0%B8%D0%BE-%D0%B7%D0%B0%D1%82%D1%8A%D0%BC%D0%BD%D1%8F%D0%B2%D0%B0%D0%BD%D0%B5-%D0%BD%D0%B0-%D1%81%D1%82%D1%8A%D0%BA%D0%BB%D0%B0-%D0%92%D0%B0%D1%80%D0%BD%D0%B0-1575113732718335/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                    </div>
            </div>
        </div>
    </div>