<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
       <li class="nav-item">   
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" 
                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link"> <i class="fas fa-sign-out-alt"></i> 
                    <p>Log Out</p> 
                    </button>
            </form> 
       </li>
    </ul>
</nav>