@model IEnumerable<ServiceListViewModel>
@{
    ViewData["Title"] = "Manage Provided Services";
}
<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!--Table Start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Provided Services</h3>

                        <div class="card-tools">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>

                                    <th>Type</th>
                                    <th>For</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var service in Model)
                                {
                                    <tr>

                                        <td>@service.Name</td>
                                        <td>@service.ComponentName</td>
                                        <td>
                                            <a asp-area="admin" asp-action="edit" asp-controller="Service" asp-route-id="@service.Id" class="btn btn-block bg-gradient-info btn-xs">Edit</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Table ENd-->
        
        <div class="card-footer">
            <a asp-area="admin" asp-controller="Service" asp-action="AddService" type="submit" class="btn btn-primary">Add New Service</a>
        </div>
       </div>

</body>
</html>