@model ReviewListViewModel
@{
    ViewData["Title"] = "Remove Review";
}
<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <div class="text-center">
    <h5 class="display-4">You have successfully removed the Review from user with name: @Model.Name!</h5>

    </div>
        
        
        
       </div>

</body>
</html>
