@model IEnumerable<ComponentListViewModel>
@{
    ViewData["Title"] = "Manage Components";
}
<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">


        <!--Table Start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Components</h3>

                        <div class="card-tools">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>

                                    <th>Component</th>
                                    <th>Specification</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in Model)
                                {
                                    <tr>

                                        <td>@detail.Name</td>
                                        <td>@detail.Specification</td>
                                        <td>
                                            <a asp-area="admin" asp-action="edit" asp-controller="Component" asp-route-id="@detail.Id" class="btn btn-block bg-gradient-info btn-xs">Edit Component</a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Table ENd-->
        
        <div class="card-footer">
            <a asp-area="admin" asp-controller="Component" asp-action="AddComponent" type="submit" class="btn btn-primary">Add New Component</a>
        </div>
       </div>

</body>
</html>