@{
    ViewData["Title"] = "Contact Us";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../img/carousel-bg-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">

        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Email //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>todor.kylvachev@abv.bg</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Phone //</h5>
                            <p class="m-0"><i class="fa fa-phone-alt text-primary me-2"></i>089 739 0311</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Facebook //</h5>
                            <p class="m-0"><i class="fab fa-facebook-f text-primary me-2"></i>Kalvachev Folio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center">
                <div class="row justify-content-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11628.875856966775!2d27.9184522!3d43.2258686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcddb3717eec311d0!2z0JrRitC70LLQsNGH0LXQsiDQpNC-0LvQuNC-!5e0!3m2!1sen!2sbg!4v1650030292724!5m2!1sen!2sbg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->
