@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Service & Experience You Can Trust</h1>
    <p>"Tint it!" is committed to providing specialty film products and services of the highest quality and greatest value to you.</p>
    <p>Our professional team excels at creating solutions by providing the very best products, customer service, and quality work.</p>
</div>
