@{
    ViewData["Title"] = "Our Services";
}
<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../img/carousel-bg-2.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Our Services</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// Explore Our Services //</h6>
                <h1 class="mb-5">10 Years Of Experience In Auto Servicing</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav w-100 nav-pills me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <i class="fa fa-car-side fa-2x me-3"></i>
                            <h4 class="m-0">Tinting windows, taillights and headlights</h4>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <i class="fab fa-firstdraft fa-2x me-3"></i>
                            <h4 class="m-0">Wrapping interior and exterior details.</h4>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <i class="fas fa-lightbulb fa-2x me-3"></i>
                            <h4 class="m-0">Installing LED lights - interior and exterior.</h4>
                        </button>
                        
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="../../../img/tint.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">Less visibility in the vehicle prevents the possibility of theft.</h3>
                                    <p class="mb-4"></p>
                                    <p><i class="fa fa-check text-success me-3"></i>3M Tint</p>
                                    <p><i class="fa fa-check text-success me-3"></i>5 Year Warranty</p>
                                    <p><i class="fa fa-check text-success me-3"></i>Array Of Hues</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="../../../img/wrap.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">Better protection for your interior from the sun.</h3>
                                    <p class="mb-4"></p>
                                    <p><i class="fa fa-check text-success me-3"></i>3M Tint</p>
                                    <p><i class="fa fa-check text-success me-3"></i>3 Year Warranty</p>
                                    <p><i class="fa fa-check text-success me-3"></i>Modern Colors</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="../../../img/service-2.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">Better visibility at night.</h3>
                                    <p class="mb-4"></p>
                                    <p><i class="fa fa-check text-success me-3"></i>1 Year Warranty</p>
                                    <p><i class="fa fa-check text-success me-3"></i>Xenon available</p>
                                    <p><i class="fa fa-check text-success me-3"></i>Bi-Xenon options</p>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->